#gmap_canvas {
    width: 100%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.map-container {
    display: grid;
    grid-gap: 0px 20px;
    grid-template-columns: 60% 40%;
}

.teste2 {
	padding-top:10px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}