#gmap_canvas {
	width: 100%;
	padding-bottom: 1.5em;
	width: 550px;
	height: 500px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.map-container {
    display: grid;
    grid-gap: 0px 20px;
    grid-template-columns: 60% 40%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	padding-top:10px;
}

.col img {
	margin-left: 8em;
	padding-top: 1em;
}